body{
    background-color: green;
}

.flex {
    display: flex;
    justify-content: space-evenly;

}

.show-modal{
    background-color: aliceblue;
    color: black;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    border: 2px solid white;
    border-radius: 30px;
    margin-top: 50px;
    padding: 10px;

}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
  
    background-color: white;
    padding: 6rem;
    border-radius: 50px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }


.flex2{
    display: flex;
    justify-content: space-between;
    
}

.hidden{
    display:none;
}

.close{

    color:black;
    background-color: white;
    border: 0;
    font-size: 25px;
    font-weight: bold;    
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  
